html,
body {
  height: 100%;
}

#gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: red;
  gap: 10px;
}

.grid-item {
  aspect-ratio: 1;
  background-color: aquamarine;
  border: 1px solid #6a5acd;
}
